.background{
    background-image: url("calcu.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; 
}

h1{

    text-align: center;
    justify-content: center;
    color:darkorange;
}


body{

    box-sizing: border-box;
    background-color: azure;
    font-family: 'Segoe UI';
}
.containers{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Calculators{

     background-color: aqua;
     padding: 19px;
     border-radius: 20px;
     box-shadow: inset 5px 5px 12px red;
     display: grid;
     grid-template-columns: repeat(4,70px);
     gap:10px;
}

input{

    grid-column: span 4;
    height: 50px;
    width: 260px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    color:rgb(70, 70, 70);
    margin-bottom: 30px;
    font-size: 50px;
    text-align: end;
    padding: 10px;
}
button{

    height: 40px;
    width: 70px;
    padding-inline: 10px;
    background-color: #ecf0f3;
    padding: 10px;
    border-radius: 10px;
    margin: 8px;
    font-size: 20px;
}